
.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03045e;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav-logo{
    float: left;
}

.nav-principal{
    float: left;
}
        
.nav-principal a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 25px 16px;
            font-size: 24px;
            font-weight: 900;
            font-family: cursive;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.4s;
        }

.nav-principal1{
    float: left;
}
                
.nav-principal1 a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 22px 16px;
            font-size: 22px;
            font-weight: 900;
            font-family: cursive;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.4s;
}



.img-nav-logo{
    margin: auto;
    height: 76px;
    width: 76px;
    transition: all 0.4s;
}

.img-nav-logo1{
    margin: auto;
    height: 66px;
    width: 66px;
    transition: all 0.4s;
}

.nav-registro1 a{
    color: white;
    text-align: center;
    padding: 22px 16px;
    font-size: 16px;
    font-weight: 900;
    font-family: cursive;
    letter-spacing: .1rem;
    text-decoration: none;
    border: 5px solid blue;
    text-transform: uppercase;
    transition: all 0.4s;
}

.nav-registro1{
    display: flex;
    float: right;
}

.nav-registro {
    display: flex;
    float: right;
}    

.nav-registro a {
    color: white;
    text-align: center;
    padding: 25px 20px;
    font-size: 20px;
    font-weight: 900;
    font-family: cursive;
    letter-spacing: .1rem;
    text-decoration: none;
    border: 5px solid blue;
    text-transform: uppercase;
    transition: all 0.4s;
    
}

.nav-principal > a:hover, .vertical a:active {
    color: #0077b6;
}

.nav-registro > a:hover, .vertical a:active {
    background-color: #90e0ef;
    color: black;
}



/* estilos para menu responsive*/
@media screen and (max-width:1200px){
        .nav-registro1 a{
            padding: 12px 3px;
            font-size: 12px;
            font-weight: 100;
        }
        .nav-registro a {
            padding: 13px 4px;
            font-size: 14px;
            font-weight: 100;
            
        }
        .img-nav-logo{
            height: 0px;
            width: 0px;
        }
        .img-nav-logo1{
            height: 0px;
            width: 0px;
        }
        .nav-principal1 a {
            padding: 13px 5px;
            font-size: 18px;
        }
        .nav-principal a {
            padding: 11px 4px;
            font-size: 20px;
        }  
}

@media screen and (max-width:750px){
    .img-nav-logo{
        height: 0px;
        width: 0px;
    }
    .img-nav-logo1{
        height: 0px;
        width: 0px;
    }
    .nav-principal1 a {
        padding: 11px 4px;
        font-size: 12px;
    }
    .nav-principal a {
        padding: 13px 5px;
        font-size: 14px;
    } 
    .title{
        font-size: 50px;
    } 
}

@media screen and (max-width:600px){
    .nav-registro1 a{
        padding: 16px 4px;
    }
    .nav-registro a {
        padding: 19px 4px;
        
    }
    .img-nav-logo{
        height: 0px;
        width: 0px;
    }
    .img-nav-logo1{
        height: 0px;
        width: 0px;
    }
    .nav-principal1 a {
        padding: 2px 2px;
        font-size: 12px;
        display: flex;
    }
    .nav-principal a {
        padding: 2.5px 2.5px;
        font-size: 14px;
        display: flex;
    } 
    .title{
        font-size: 50px;
    } 
    
}